@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
  /* background: url("/bg/bg3.jpg"); */
  /* background: #8ac3da; */
  /* background: url("/bg2.jpg"); */
  /* object-fit: fill; */
  background: #abc4f3;
  scroll-behavior: smooth;
  scroll-snap-type:y mandatory;
}

.bg-contact{
background: #fffbe1;

}
.bg-contact-dark{
  background:#010113;
  object-fit: contain;

}


.bg-work{
  background:#83b2da;

}
.bg-work-dark{
  background:#000;


}


.bg-skill{
  background:#e0f3bb;

}
.bg-skill-dark{
  background:#000;


}




.bg-dark{
  background: #0b2003;
  color: #fff;
}



.bg-hero{
  background: #abc4f3;
}

canvas{
  width: 100vw;
  height: 100vh;
  

}






/* all imported font */
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Lobster */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Lilita */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

/* Luckiest Guy , cursive*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* Sriracha, cursive */
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;800;1000&display=swap');


.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-lobster {
  font-family: 'Lobster', cursive, sans-serif;
}


.font-lilita {
  font-family: 'Lilita One', cursive, sans-serif;
}


.font-poppins {
  font-family: 'Poppins', sans-serif;
}


.font-sriracha {
  font-family: 'Sriracha', cursive, sans-serif;
}


.font-nunito {
  font-family: 'Nunito', sans-serif;
}

